<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden"name="PMId"[value]="service.formData.PMId"> 
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="CardOwnerName.valid"[class.red-icon]="CardOwnerName.invalid && CardOwnerName.touched"></i>
              </div>
          </div>
          <input name= "Card Owner Name" #CardOwnerName="ngModel"[(ngModel)]="service.formData.CardOwnerName"class="form-control"
           placeholder="Card Owner Name" required> 
      </div>  
  </div>
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="far fa-credit-card"[class.green-icon]="CardNumber.valid"[class.red-icon]="CardNumber.invalid && CardNumber.touched"></i>
              </div>
          </div>
          <input name= "Card Number" #CardNumber="ngModel"[(ngModel)]="service.formData.CardNumber"class="form-control" 
          placeholder="16 Digit Card Number" required maxlength="16" minlength="16"> 
      </div>  
  </div>
  <div class="form-row">
  <div class="form-group col-md-7">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-calendar" [class.green-icon]="ExpirationDate.valid"[class.red-icon]="ExpirationDate.invalid && ExpirationDate.touched"></i>
              </div>
          </div>
          <input name= " Expiration Date" #ExpirationDate="ngModel"[(ngModel)]="service.formData.ExpirationDate"class="form-control" 
          placeholder=" MM/YY"required maxlength="5" minlength="5"> 
      </div>  
  </div>
  <div class="form-group col-md-5">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-key"[class.green-icon]="CVV.valid"[class.red-icon]="CVV.invalid && CVV.touched"></i>
              </div>
          </div>
          <input type="password" name= "CVV" #CVV="ngModel"[(ngModel)]="service.formData.CVV"class="form-control" 
          placeholder="CVV" required maxlength="3" minlength="3"> 
      </div>  
  </div>
</div>
  <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit"[disabled]="form.invalid"> <i class="fas fa-database"></i> Submit  
      </button>
    </div>
</form>