<table class="table table-hover">
  <tr *ngFor="let pd of service.list">
    <td (click)="populateForm(pd)">{{pd.Name}}</td>
    <td (click)="populateForm(pd)">{{pd.Surname}}</td>
    <td (click)="populateForm(pd)">{{pd.Nickname}}</td>  
 <!-- <td (click)="populateForm(pd)">{{pd.Cities[0].Name}}</td>    -->
    <td (click)="populateForm(pd)">{{pd.PhoneNumber}}</td>
    <td (click)="populateForm(pd)">
       <tr *ngFor="let pc of pd.Cities">{{pc.Name}} </tr>
  </td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.PersonId)"></i>
    </td>
  </tr>
</table>
