<table class="table table-hover">
    <tr *ngFor="let pd of service.list">
      <td >{{pd.CardOwnerName}}</td>
      <td >{{pd.CardNumber}}</td>
      <td >{{pd.ExpirationDate}}</td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.PMId)"></i>
      </td>
      <td>
         <i class="far fa-edit text-primary" (click)="populateForm(pd)"></i>
      </td>
    </tr>
  </table>