<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden"name="PersonId"[value]="service.formData.PersonId"> 
  <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="Name.valid"[class.red-icon]="Name.invalid && Name.touched"></i>
              </div>
          </div>
          <input name= "Name" #Name="ngModel"[(ngModel)]="service.formData.Name"class="form-control"
           placeholder="Name" required> 
      </div>  
    </div>

    <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="Surname.valid"[class.red-icon]="Surname.invalid && Surname.touched"></i>
              </div>
          </div>
          <input name= "Surname" #Surname="ngModel"[(ngModel)]="service.formData.Surname"class="form-control"
           placeholder="Surname" required> 
      </div>  
    </div>
    <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="Nickname.valid"[class.red-icon]="Nickname.invalid && Nickname.touched"></i>
              </div>
          </div>
          <input name= "Nickname" #Nickname="ngModel"[(ngModel)]="service.formData.Nickname"class="form-control"
           placeholder="Nickname" required> 
      </div>  
    </div>
    <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="PhoneNumber.valid"[class.red-icon]="PhoneNumber.invalid && PhoneNumber.touched"></i>
              </div>
          </div>
          <input name= "PhoneNumber" #PhoneNumber="ngModel"[(ngModel)]="service.formData.PhoneNumber"class="form-control"
           placeholder="PhoneNumber" required> 
      </div>  
    </div>

    <div class="form-group">
      <div class="input-group">
          <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                  <i class="fas fa-user"[class.green-icon]="City.valid"[class.red-icon]="City.invalid && City.touched"></i>
              </div>
          </div>
          <input name= "City" #City="ngModel"[(ngModel)]="service.formData.Cities"class="form-control"
           placeholder="City" required> 
      </div>  
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" type="submit"[disabled]="form.invalid"> <i class="fas fa-database"></i> Submit  
      </button>
    </div>
</form>