<div class="jumbtron">
  <h1 class="display-6 text-center">Person PhoneBook </h1>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <app-person-detail></app-person-detail>
    </div>
    <div class="col-md-8">
      <app-person-detail-list></app-person-detail-list>
    </div>
  </div>
</div>
